* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
}

header {
    background: #ff6f61;
    color: white;
    padding: 25px;
    text-align: center;
}

header span {
    color: red;
}

.slider img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.section-title {
    text-align: center;
    margin: 25px;
    color: #333;
}

.animals {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
}

.card {
    background: white;
    width: 220px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card h3 {
    text-align: center;
    padding: 10px;
    color: #ff6f61;
}

.details {
    background: white;
    margin: 30px auto;
    padding: 25px;
    width: 80%;
    border-radius: 10px;
    display: none;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 40px;
}
